$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import url(http://fonts.googleapis.com/css?family=Trochut:400,400italic,700|Quantico);

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
   margin-bottom: 15px;
}



/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 45px;
    padding-bottom: 10px;

    @media (max-width: 420px){
        font-size: 16px;
    }
}

.text-muted {
        text-align: right;
        font-family: 'Quantico', sans-serif;
        text-transform: uppercase;
        color: rgb(97, 23, 23);
}


/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    text-align: right;
}


/* Main marketing message and sign up button */
.jumbotron {
    height: 500px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background-color: rgb(88, 51, 51);
    margin: 0 auto;
    padding: 0;
    position: relative;
    box-shadow: 0 12px 9px -8px rgb(85, 62, 62);
    border-radius: 10px;
}

.jumbotron .btn {

}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 15px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


/**********************Custom styles************************/

.glyphicon-expand {
    font-size: 52px;
    margin-left: 6px;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg); /* Safari and Chrome */
    color: rgb(163, 51, 51);

    @media (max-width: 420px) {
        font-size: 36px;
    }
}

.navigation-bar {
    height: 50px;
    border-radius: 10px 10px 0px 0px;   
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgb(128, 76, 76);
}

.jumbo-footer {
    height: 100px;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(128, 76, 76);    
}

#main-search {
    position: absolute;
    right: 9px;
    top: 11px;
    height: 28px;
    width: 300px;
    font-size: 14px;
    line-height: 0;

}

#main-search:focus{
    outline-color: rgb(236, 193, 193);

}
