$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import url(http://fonts.googleapis.com/css?family=Trochut:400,400italic,700|Quantico);
@import url(http://fonts.googleapis.com/css?family=Expletus+Sans);
@import url(http://fonts.googleapis.com/css?family=Rokkitt);
@import 'sass-bootstrap/lib/bootstrap';


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #525252;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
   margin-bottom: 15px;
   min-width: 965px;
}



/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 45px;
    padding-bottom: 10px;

    @media (max-width: 420px){
        font-size: 16px;
    }
}

.text-muted {
        text-align: right;
        font-family: 'Quantico', sans-serif;
        text-transform: uppercase;
        color: rgb(255, 255, 255);
}


/* Custom page footer */
.footer {
    min-width: 965px;
    padding-top: 19px;
    color: #777;
    text-align: right;
}


/* Main marketing message and sign up button */
.jumbotron {
    min-width: 965px;
    height: 500px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background-color: #F8F8F8;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.jumbotron .btn {

}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 15px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


/**********************Custom styles************************/

.glyphicon-expand {
    font-size: 52px;
    margin-left: 6px;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* IE 9 */
    -webkit-transform:rotate(180deg); /* Safari and Chrome */
    color: rgb(206, 86, 86);

    @media (max-width: 420px) {
        font-size: 36px;
    }
}

.navigation-bar {
    height: 50px;  
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgb(206, 86, 86);

    ul {
        text-align: left;
        padding-left: 15px;
    }
    
    li {
        display: inline-block;
        text-decoration: none;
        text-align: left;
        font-size: 14px;
        color: white;
        margin-right: 20px;
        font-family: 'Expletus Sans', cursive;
    }
}

.jumbo-footer {
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(128, 76, 76);    
}

/*********** search box *************/

#main-search {
    position: absolute;
    right: 9px;
    top: 11px;
    height: 28px;
    width: 300px;
    font-size: 14px;
    line-height: 0;

}

#main-search:focus{
outline-color: rgb(109, 197, 221);
outline-width: 2px;
outline-style: solid;

}

.submit {
    display: inline-block;
    position: absolute;
    top: 11px;
    right: 8px;
    height: 28px;
    border-radius: 0px 2px 2px 0px;
    color: rgb(255, 255, 255);
    background-color: #6DC5DD;
    border-color: #8A8A8A;
    box-shadow: #8A8A8A;
}

.submit:hover{
    background-color: rgb(218, 116, 116);
    border-color: rgb(228, 115, 115);
}
/*********** CONTENT AREA **************/

.content-area {
    position: absolute;
    left: 6px;
    top: 60px;
    height: 330px;
    width: 98.5%;
}

/************** HOME VIEW *********************/

.today {
    color: #737373;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    font-family: 'Quantico', sans-serif;
    text-transform: uppercase;
}


.setlist-scroll {
    display: inline-block;
    position: relative;
    top: -12px;
    height: 275px;
    width: 350px;
    overflow: scroll;
    color: rgb(99, 51, 51);
    text-align: left;
    line-height: 12px;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset 1px 0px 4px 2px rgb(102, 57, 57);
}

#home-setlist {
    padding-left: 0px;
    padding-top: 8px;
    list-style-position: inside;
    text-align: center;
    font-family: 'Rokkitt', serif;

    ol {
        color: rgb(19, 15, 136);
        font-size: 18px;
        line-height: 18px;
        padding-left: 0px;

        span {
            text-decoration: underline;
            color: #000;
            font-weight: 500;

        }
    }
}

#home-year {
    position: relative;
    top: -10px;
}

.left-arrow {
    position: absolute;
    left: 200px;
    top: 125px;
}

.left-triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 28.5px 15.8px 28.5px 0;
    border-color: transparent #6DC5DD transparent transparent;
    margin: 0 auto;
    margin-top: 16px;
}

.right-arrow {
    position: absolute;
    right: 200px;
    top: 125px;
}


.right-triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 28.5px 0 28.5px 15.8px;
    border-color: transparent transparent transparent #6DC5DD;
    margin: 0 auto;
    margin-top: 16px;
}